<app-header showUserInfo = "true" header = "Welcome to Green Koncepts"></app-header>
<div class="card-container">
    <div class="row">
        <div class="col-md-4 col-sm-12 card-view">
            <div (click) = "navigateTo('heirarchy')">
                <p>Heirarchy</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 card-view">
            <div (click) = "navigateTo('customer')">
                <p>Customer</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 card-view">
            <div (click) = "navigateTo('order')">
                <p>Order</p>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-4 col-sm-12 card-view">
            <div>
                <p>Schedules</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 card-view">
            <div>
                <p>Message</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 card-view">
            <div>
                <p>Email</p>
            </div>
        </div>
    </div>
</div>