<app-header header="Add Customer Details" showBackBtn="true"></app-header>

<div>
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
                <form [formGroup] = "customerForm" (ngSubmit) = "saveCustomerDetails()">
                    <table>
                        <tr>
                            <td>Customer Name</td>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName = "customerName">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Age</td>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName = "customerAge">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>
                                <div class="form-group">
                                    <textarea rows="4" class="form-control" formControlName = "customerAddress"></textarea>
                                </div>
                            </td>
                        </tr>


                    </table>
                    <div class="row btn-container">
                        <div class="col-md-6 col-sm-12">
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" [disabled] = "!customerForm.valid">Save</button>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <button class="btn btn-lg btn-primary btn-block text-uppercase"
                                type="button" (click) = "cancel()">Cancel</button>
                        </div>


                    </div>

                </form>
            </div>
        </div>
    </div>
</div>